<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
</style>
html{
	overflow-x: hidden;
}

body{
  background-color: white;
  overflow-y: scroll;
  margin: 0;
  width: 100%;
}

a:link{
	text-decoration: none;
}

ol, ul{
/*	padding-right: 2rem;*/
}

.background-color{
	background-color: white;
	margin: auto;
	max-width: 1280px;
}

.transition-fade{
  width: 100%;
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade{
  opacity: 1;

  transform: translateY(100%);
}

html.is-leaving .transition-fade{
  opacity: 0;
  transform: translateY(0);
}

html.is-rendering .transition-fade{
  position: fixed;
}

.swup-progress-bar {
  height: 5px;
  background-color: #ff6e00;
}

.text{
/*	max-width: 600px;*/
	margin: auto;
	padding: 30px;
}

.about{
	object-fit: cover;
	min-height: 400px;
}

.bi{
	color: white;
	font-size: 1.5em;
}

.bi-instagram{
	margin-left: 11px;
}

.bi-facebook{
	margin-left: 5px;
}

h1, h2, h3, h4, h5, p, a {
	letter-spacing: -1px;
	font-weight: bold;
}

h1{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1em;
	letter-spacing: -.75px;
	color: #584533;
	width: inherit;
}

h2{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1.75em;
	letter-spacing: -.75px;
	color: #584533;
	width: inherit;
	text-align: center;
}

h3{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -.75px;
	color: #ff6e00;
	width: inherit;
	text-align: center;
}

.banner-text{
	font-weight: bold;
	color: #584533;
}

.footer-title{
	padding-bottom: 50px;
}

h4{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -.75px;
	color: #584533;
	width: inherit;
	text-align: center;
}

.location-h4{
	text-align: center;
	height: 35px;
}

h5{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: -.75px;
	color: #ff6e00;
	width: 100%;
	text-align: center;
}

p.card-text{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #584533;
/*	height: 140px;*/
}

p.card-text-white{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: white;
}

p.card-text-address{
	font-family: "brandon-grotesque", sans-serif;
	font-size: .75em;
	font-weight: bold;
	text-align: left;
	color: #584533;
	line-height: 1.1;
}

.about{
	text-align: left;
}

.line{
	flex-grow: 1;
	max-width: 1280px;
	height: 1px;
	margin: auto;
	background-color: #584533;
}

@media (max-width: 900px) {
	.line{
		margin-right: 15px;
	}
}


p.card-text.about{
	text-align: left;
}

a.nav-link{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1.45em;
	font-weight: bold;
	letter-spacing: -.75px;
	color: #584533;
}

a.nav-location{
	font-size: 1.5em;
	margin-top: 7px;
}

li.nav-item{
	margin-left: 8px;
	margin-right: 8px;
}

.navbar{
	max-width: 1280px;
	margin: auto;
}

.navbar-collapse{
	flex-grow: 0;
}

.navbar.navbar-expand-lg.navbar-light{	/*background-color: #596c5a;*/
	margin: auto;
	padding-top: .25em;
	padding-bottom: .5em;
}

.navbar-light .navbar-nav .nav-link{
	color: #584533;
}

.nav-link:focus, .nav-link:hover{
	color: rgba(0,0,0,.7);
}

.navbar-brand{
	width: 200px;
}

/*.navbar-nav.me-auto.mb-2.mb-lg-0{
	margin-left: 20px;
	margin-top: 7px;
}*/

.content{
	margin: auto;
	max-width: 1090px;
	height: 100%;
	background-color: white;
}

.carousel-indicators{
	background-color: rgba(0,0,0,.2);
	left: auto;
}

.carousel-inner{
}

.carousel-control-prev-icon , .carousel-control-next-icon{
	background-color: rgba(0,0,0,.4);
}

.topping-padding{
	padding: .5rem .5rem;
}

.card{
	margin: auto;
	margin-top: 40px;
	border: none;
	max-width: 700px;
	height: auto;
/*	background-color: #596c5a;*/
/*	padding: 7px;*/
	transition: ease .5s;
}

.location-card{
	max-width: 350px;
}

/*.card:hover{
	scale: 1.1;
	transition: ease .5s;
}*/

img.card-img-top{
}

.card-banner{
	margin-top: 0px;
}

/*.card-white{
	background-color: #ededee;
}*/

/*.card-pink{
	background-color: #bd828c;
}

.card-nonfat{
	background-color: #97d0e6;
}

.card-lowfat{
	background-color: #bf97e6;
}

.card-nondairy{
	background-color: #d98079;
}*/

.card-toppings{
	max-width: 250px;
}

.card-menu{
	max-width: 250px;
}

.card-menu-drink{
	max-width: 300px;
}

.card-menu-text{
	font-size: .9em;
}

.items{
	margin: auto;
	display: flex;
	flex-direction: row;
	background-color: white;
/*	padding-top: 50px;*/
	text-decoration: none;
}

@media (max-width: 900px) {
	.items{
		flex-direction: column;
	}
}

.frontpage-items{
/*	padding-bottom: 150px;*/
}

.footer{
	margin: auto;
	max-width: 1280px;
	height: 100%;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.berry{
	display: flex;
	margin: auto;
	max-width: 275px;
	width: 100%;
	height: auto;
}

.copyright{
	display: flex;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 30px;
}

.card.bg-dark.text-white{
	width: 100%;
	max-width: 1280px;
	background-color: white;
}

.bg-dark{
	background-color: white!important;
}

.froyo-header{
	width: 100%;
	max-width: 1280px;
	height: 300px;
	margin: auto;
	background-color: white;
}

.flavors {
  	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: white;
/*	padding-bottom: 100px;*/
}

.instructions {
  	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.instructions-graphic{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 200px;
	height: auto;
}

.instructions-text{
	margin-bottom: 30px;
}

.instructions-card{
	margin: 20px;
}

.banner {
  	margin: auto;
	max-width: 1280px;
	height: 100%;
	display: flex;
	flex-direction: row;
	padding-top: 30px;
	padding-bottom: 0px;
	background-color: white;
}

.subtext{
	padding-top: 0;
	padding-bottom: 45px;
}

.map{
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	height: 150px;
}

.social-top{
	max-width: 1280px;
	margin: auto;
	margin-top: 20px;
	background-color: #a7ff00;
}

@media (max-width: 900px) {
	.social-top{
		margin-top: 0px;
	}
}

.social-bottom{
	text-align: center;
}

.step-box{
	display: flex;
	width: 300px;
	height: 125px;
	background-color: #706254;
	margin: auto;
	margin-bottom: 50px;
}

.step-box-text{
	color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 2.25em;
}

.location-footer{
	display: flex;
	max-width: 900px;
	width: 100%;
	margin: auto;
}

@media (max-width: 900px) {
	.location-footer{
		flex-direction: column;
		margin-bottom: 30px
	}
}

.location-list{
	display: flex;
	width: 100%;
	margin-bottom: 50px;
}

@media (max-width: 900px) {
	.location-list{
		margin: auto;
		margin-bottom: 30px;
		text-align: center;
		width: revert;
		min-width: 400px;
	}
}

.location-item{
	list-style: none;
	font-size: 1.5em;
}

.location-line{
	flex-grow: 1;
	height: 1px;
	background-color: #584533;
	margin-top: 20px;
	margin-bottom: 20px;
}

.location-line-map{
	flex-grow: 1;
	height: 1px;
	background-color: #584533;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-location-line{
	margin: auto;
	max-width: 900px;
	flex-grow: 1;
	height: 1px;
	background-color: #584533;
	margin-bottom: 30px;
}

.col-sm-6{
	width: 33.33%;
	margin: auto;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
	padding: 0px;
}