body{
	background-color: #a9cc69;
}

.transition-fade{
	opacity: 1;
	transition: 500ms;
}

html.is-animating .transition-fade{
	opacity: 0;
}

h1{
	font-family: 'Dosis', sans-serif;
	font-size: 1.25em;
	letter-spacing: -.75px;
	color: white;
	width: inherit;
}

h2{
	font-family: 'Dosis', sans-serif;
	font-size: 1.75em;
	letter-spacing: -.75px;
	color: #636363;
	width: inherit;
	text-align: center;
}

h3{
	font-family: 'Dosis', sans-serif;
	font-size: 5em;
	letter-spacing: -.75px;
	color: white;
	width: inherit;
	text-align: center;
}

h5{
	font-family: 'Dosis', sans-serif;
	font-size: 3em;
	letter-spacing: -.75px;
	color: #f16078;
	width: 100%;
	text-align: center;
}

a.nav-link{
	font-family: 'Dosis', sans-serif;
	font-size: 1.25em;
	letter-spacing: -.75px;
	color: white;
}

li.nav-item{
	margin-left: 8px;
	margin-right: 8px;
}

.navbar.navbar-expand-lg.navbar-light{
	background-color: #f16078;
	max-width: 1280px;
	margin: auto;
	margin-top: 20px;
	padding-top: .25em;
	padding-bottom: .5em;
}

.navbar-light .navbar-nav .nav-link{
	color: white;
}

.navbar-brand{
	width: 170px;
	margin-top: 5px;
	margin-left: 23px;
}

.navbar-nav.me-auto.mb-2.mb-lg-0{
	margin-left: 20px;
	margin-top: 7px;
}

.content{
	margin: auto;
	max-width: 1280px;
	height: 100%;
	background-color: #f1f1f1;
}

.carousel-indicators{
	background-color: rgba(0,0,0,.2);
	left: auto;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
	background-color: rgba(0,0,0,.4);
}

.card{
	margin: auto;
	border: none;
	width: 100%;
}

.items{
	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	background-color: white;
}

@media (max-width: 900px) {
	.items{
		flex-direction: column;
	}
}

.footer{
	margin: auto;
	max-width: 1280px;
	height: 100%;
	background-color: #f16078;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 20px;
}

.berry{
	display: flex;
	margin: auto;
	max-width: 275px;
	width: 100%;
	height: auto;
}

.copyright{
	display: flex;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 30px;
}

.card.bg-dark.text-white{
	width: 100%;
	max-width: 1280px;
	background-color: white;
}

.bg-dark{
	background-color: white!important;
}

.froyo-header{
	width: 100%;
	max-width: 1280px;
	height: 300px;
	margin: auto;
	background-color: white;
}

.flavors {
  	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: white;
}

.instructions {
  	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.card{
	max-width: 400px;
	width: 100%;
	height: auto;
}

p.card-text{
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: #636363;
}

.instructions-graphic{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 200px;
	height: auto;
}

.instructions-text{
	margin-bottom: 30px;
}

.banner {
  	margin: auto;
	max-width: 1280px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #ffb677;
}